[Unit]
Description=Backup Ardent SQLite database

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/Ardent
ExecStart=/home/ubuntu/Ardent/BACKUP.sh